<!DOCTYPE HTML>
<html>
<head>
	<title>NVC Worksheet</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<div id="worksheetContainer">
		<h1 class="ui huge header">
			<i class="empty heart icon"></i>
			<div class="content">
				NVC Worksheet
			</div>
		</h1>

		<div class="ui segments">
			<h3 class="ui top attached header">How do you feel?</h3>
			<div class="ui attached segment">
				<div class="ui six column grid">
					<!--SAD-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "sad"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "sad" && feeling.word !== "sad"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--MAD-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "mad"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "mad" && feeling.word !== "mad"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--SCARED-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "scared"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "scared" && feeling.word !== "scared"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--JOYFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "joyful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "joyful" && feeling.word !== "joyful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--POWERFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "powerful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "powerful" && feeling.word !== "powerful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--PEACEFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "peaceful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "peaceful" && feeling.word !== "peaceful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
				</div>
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui top attached header">When do you feel this way?</h3>
			<div class="ui attached segment" id="when">
				<p class="finalStatement"></p>
				<div class="ui fluid input big">
				 	<input value="when " type="text" name="whenInput">
				</div>
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui top attached header">Why do you feel this way?</h3>
			<div class="ui attached segment" id="because I ">
				<p class="finalStatement"></p>
				<div class="ui fluid input big">
				 	<input value="because " type="text" name="becauseInput">
				</div>
			</div>
			<div class="ui attached segment">
				<span class="pageNumber">p 52-53</span>
				<div class="ui text container">
					<p>It is helpful to recognize a number of common speach patterns that tend to mask accountability for our own feelings:</p>
					<ol>
						<li>Use of impersonal pronouns such as <em>it</em> and <em>that</em>:</br>
						&ldquo;It really infurates me...&rdquo; &ldquo;That bugs me a lot.&rdquo; followed by a person or personal pronoun other than <em>I</em>.</li>
						<li>The use of the expression &ldquo;I feel &#40;an emotion&#41; because...&rdquo;</br>
						&ldquo;I feel hurt because you said...&rdquo;</li>
						<li>Statements that mention only the actions of others:</br>
						&ldquo;When you don&#39;t call, I feel hurt.&rdquo;</li>
					</ol>
					<p>In each of these instances, we can deepen our awareness of our own responsibility by substituting the phrase, &ldquo;I feel...because I...&rdquo;</p>
					<ol>
						<li>&ldquo;I <em>feel</em> really infurated when spelling mistakes like that appear, <em>because I</em> want our company to project a professional image.&rdquo;</li>
						<li>&ldquo;I <em>feel</em> angry that the supervisor broke her promise, <em>because I</em> was counting on getting that long weekend to visit my brother.&rdquo;</li>
						<li>&ldquo;I <em>feel</em> disappointed when you don&#39;t finish your food, <em>because I</em> want you to grow up strong and healthy.&rdquo;</li>
					</ol>
				</div>
			</div>
			<div class="ui attached segment">
				<span class="pageNumber">p 57-60</span>
				<div class="ui text container">
					<p>In our development toward a state of emotional liberation, most of us experience three stages in the way we relate to others:</p>
					<ol>
						<li>Emotional Slavery: We believe oursevles responsible for the feelings of others.</li>
						<li>Obnoxious Stage: We no longer want to be responsible for others&#39; feelings, but we have yet to learn how to be responsible <em>to</em> others in a way that is not emotionally enslaving.</li>
						<li>Emotional Liberation: We respond to the needs of others out of compassion, never out of fear, guilt, or shame. We accept full responsibility for our own intentions and actions, but not for the feelings of others.</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui top attached header">What do you need?</h3>
			<div class="ui attached segment" id="need">
				<p class="finalStatement"></p>
				<div class="ui fluid input big">
				 	<input value="I need " type="text" name="needStatement">
				</div>
				<!-- NVC p 55		 -->
			</div>
			<div class="ui attached segment">
				<span class="pageNumber">p 55-56</span>
				<table>
					<tr>
						<th><img src="img/maslows-hierarchy.gif" class="ui left floated top aligned"></th>
						<th>
							The following are some of the basic human needs we all share.</br>
							<strong>Autonomy</strong></br>
							<ul>
								<li>to choose one&#39;s dreams, goals, values</li>
								<li>to choose one&#39;s plan for fulfilling one&#39;s dreams, goals, values</li>
							</ul>
							<strong>Celebration</strong></br>
							<ul>
								<li>to celebrate the creation of life and dreams fulfilled</li>
								<li>to celebrate losses: loved ones, dreams, etc. &#40;mourning&#41;</li>
							</ul>					
							<strong>Integrity</strong></br>
							<ul>
								<li>authenticity</li>
								<li>creativity</li>
								<li>meaning</li>
								<li>self-worth</li>
							</ul>
							<strong>Interdependence</strong></br>
							<ul>
								<li>acceptance</li>
								<li>appreciation</li>
								<li>closeness</li>
								<li>community</li>
								<li>consideration</li>
								<li>contribution to the enrichment of life &#40;to exercise one&#39;s power by giving that which contributes to life&#41;</li>
								<li>emotional safety</li>
								<li>empathy</li>
								<li>honesty &#40;the empowering honesty that enables us to learn from our limitations&#41;</li>
							</ul>
						</th>
						<th>
							<ul>
								<li>love</li>
								<li>reassurance</li>
								<li>respect</li>
								<li>support</li>
								<li>trust</li>
								<li>understanding</li>
								<li>warmth</li>
							</ul>
							<strong>Play</strong></br>
							<ul>
								<li>fun</li>
								<li>laughter</li>
							</ul>
							<strong>Spiritual Connection</strong></br>
							<ul>
								<li>beauty</li>
								<li>harmony</li>
								<li>inspiration</li>
								<li>order</li>
								<li>peace</li>
							</ul>
							<strong>Physical Nurturance</strong></br>
							<ul>
								<li>air</li>
								<li>food</li>
								<li>movement, exercise</li>
								<li>protection from life-threatening forms of life: viruses, bacteria, insects, predatory animals</li>
								<li>rest</li>
								<li>sexual expression</li>
								<li>shelter</li>
								<li>touch</li>
								<li>water</li>
							</ul>
						</th>
					</tr>
				</table>
				<!--<div class="ui container">-->
					
				<!--	<span>-->
						
				<!--	</span>-->
			</div>
		</div>
	

		<div class="ui segments">
			<h3 class="ui top attached header">What do you request?</h3>
			<div class="ui attached segment" id="request">
				<p class="finalStatement"></p>
				<div class="ui fluid input big">
				 	<input placeholder="I request" type="text" name="requestStatement">
				</div>
				<!-- NVC notes from Requests chapter -->
			</div>
		</div>		

		<div class="ui large header">
			<i class="heart icon yourStatement"></i>
			<div class="content yourStatement">
				Your Statement
			</div>
			</h2>
			<div class="ui segment" id="finalStatement"></div>
		</div>
		
	</div>
	
		<!--MODAL-->
		<div class="ui modal">
			<div class="header"></div>
			<div class="content">
				<p id="partOfSpeech"></p>
				<p id="definition"></p>
			</div>
		</div>
		<!--MODAL-->
		
<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>