<!DOCTYPE HTML>
<html>
<head>
	<title>NVC Worksheet</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<!--<div class="ui justified container">-->
		<h1 class="ui huge header">
			<i class="empty heart icon"></i>
			<div class="content">
				NVC Worksheet
			</div>
		</h1>

		<div class="ui segments">
			<h3 class="ui top attached header">How do you feel?</h3>
			<div class="ui attached segment">
				<div class="ui six column grid">
					<!--SAD-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "sad"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "sad" && feeling.word !== "sad"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--MAD-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "mad"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "mad" && feeling.word !== "mad"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--SCARED-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "scared"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "scared" && feeling.word !== "scared"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--JOYFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "joyful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "joyful" && feeling.word !== "joyful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--POWERFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "powerful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "powerful" && feeling.word !== "powerful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
					<!--PEACEFUL-->
					<div class="column">
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.word === "peaceful"){ %>
								<% include partials/headerFeeling %>
						    <% } %>
						<% }); %>
						<% feelings.forEach(function(feeling){ %>
						    <% if(feeling.category === "peaceful" && feeling.word !== "peaceful"){ %>
								<% include partials/feeling %>
						    <% } %>
						<% }); %>
					</div>
				</div>
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui attached header">When do you feel this way?</h3>
			<div class="ui attached segment">
				<div class="ui fluid input">
				 	<input value="when " type="text">
				</div>
				<!-- NVC p 52 -->
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui attached header">Why do you feel this way?</h3>
			<div class="ui attached segment">
				<div class="ui fluid input">
				 	<input value="because " type="text">
				</div>
				<!-- NVC p 52, 57-->
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui attached header">What do you need?</h3>
			<div class="ui attached segment">
				<div class="ui fluid input">
				 	<input value="I need " type="text">
				</div>
				<!-- NVC p 55		 -->
			</div>
		</div>

		<div class="ui segments">
			<h3 class="ui attached header">What do you request?</h3>
			<div class="ui attached segment">
				<div class="ui fluid input">
				 	<input placeholder="I request" type="text">
				</div>
				<!-- NVC notes from Requests chapter -->
			</div>
		</div>		

		<div class="ui large header">
			<i class="heart icon"></i>
			<div class="content">
				Your Statement
			</div>
			</h2>
			<div class="ui purple segment">
				Here it is.
			</div>
		</div>
	
		<!--MODAL-->
		<div class="ui modal">
			<div class="header"></div>
			<div class="content">
				<p id="partOfSpeech"></p>
				<p id="definition"></p>
			</div>
		</div>
		<!--MODAL-->
			
	<!--</div>-->
		
<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>