html{
    min-height: 100%;
}

body{
	background: /*linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),*/ url(../img/ocean.JPG);
	background-size: cover;
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#worksheetContainer{
    margin: 3% 10% 3% 10%;
}

.headerFeeling{
    font-weight: bold;
}

#partOfSpeech{
    font-style: italic;
}

.check{
	color: #45bc53;
}

.yourStatement{
	color: #d8d8d8;
}



