html{
	min-height: 100%;
}

/*body{
	background-image: url(../img/pololu.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
}*/

/*.childColumn{
	display: inline;
	border: blue 2px solid;
}

.parentColumn{
	border: 2px orange solid;
}*/
